.whole-page
  .container
    .row
      = render "shared/sidebar"
      .col-sm-9.col-md-9
        .task-card-title
          登録済みタスク一覧
        .card.task-index
          - if @reviews.present?
            - @reviews.each_with_index do |review, index|
              .card-header.bg-secondary.task-index__book-title
                = link_to review_path(review) do
                  = simple_format(review.book.title) 
                - if review.review_status == "reading"
                  .badge.badge-primary.badge-pill.task-index__book-title--badge
                    読書中
                - elsif review.review_status == "read"
                  .badge.badge-success.badge-pill.task-index__book-title--badge
                    読了
                - else
                  .badge.badge-danger.badge-pill.task-index__book-title--badge
                    後で読む
              - if review.tasks.where(finished: 0).present?
                .card-body.task-index__tasks
                  .task-index__tasks__have
                    = simple_format("#{review.tasks.unfinished.length}件の未完了のタスクがあります！")
                    %button.btn.btn-info{"aria-controls": "collapseTasks-#{index}", "aria-expanded": "false", "data-target": "#collapseTasks-#{index}", "data-toggle": "collapse", type: "button"}
                      確認する
                  .collapse{id: "collapseTasks-#{index}"}
                    = render partial: "shared/task-list-unfinished", locals: {tasks: review.tasks.unfinished, review: review} 
              - else 
                .card-body.task-index__tasks
                  .task-index__tasks__content
                    未完了のタスクはありません
            = paginate(@reviews)
          - else
            = render "shared/no-entry"
