.col-sm-6.col-md-4.book-lists__cards
  .card.img-thumbnail.col-4.col-sm-12.mx-auto
    .card-image-top.p-0
    - if review.book.image_url.present?
      = image_tag review.book.image_url
    - else
      = image_tag asset_path("no_image.jpg")
  .card-body.px-2.py-3.col-11.col-sm-12.mx-auto
    .book-list__reading--title
      - if @user.id == current_user.id
        .dropdown.float-right
          %button{type:"button", class:"btn dropdown-toggle", id:"dropdownMenuButton", "data-toggle":"dropdown", "aria-haspopup":"true", "aria-expanded":"false"}
          .dropdown-menu{"aria-labelledby":"dropdownMenuButton"}
            = link_to "詳細", review_path(review), class: "dropdown-item" 
            = link_to "編集", edit_review_path(review), class: "dropdown-item" 
            = link_to "削除", "/reviews/#{review.id}", method: :delete, class: "dropdown-item", data: { confirm: "本当に削除しますか？" }
      .card-title
        = link_to review_path(review), class: "small" do
          = review.book.title.truncate(35)
    .card-text
      - if review.rate.present?
        .rate.read-only-rate{id: "star-rate-#{review.id}", "data-rated-star": {"id": review.id, "score": review.rate}}
      - else
        .rate.small 未評価
