.whole-page
  .container
    = render partial: "shared/notification"
    -# TODO パンくずリストの追加？
    .row
      = render "shared/sidebar"
      .main-content.col-sm-9.col-md-9
        .card
          .card-header.bg-light
            = current_user.nickname + "さんの本棚"
          .btn-group.d-flex{"aria-label":"読書状況"}
            = link_to "読書中", reading_user_path, class: "btn btn-primary w-100 btn-status"
            = link_to "読了", read_user_path, class: "btn btn-success w-100 btn-status btn-status__active"
            = link_to "あとで読む", stock_user_path, class: "btn btn-danger w-100 btn-status"
          - if @reads.present?
            .container
              .row
                .card-group.book-lists
                  - @reads.each do |read|
                    = render partial: "book-lists", locals: { review: read }
            = paginate(@reads)
          - else
            = render "shared/no-entry" 


