%nav.navbar.navbar-expand.navbar-dark.fixed-top
  = link_to root_path do
    = image_tag "logo-white.png",size: '200x56', alt: "logo", id: "logo", class: "navbar-brand"
    -# = link_to "title", root_path, id: "logo", class: "navbar-brand"
  %ul.navbar-nav.ml-auto
    - if user_signed_in?
      %li.nav-item
        = link_to reading_user_path(current_user) do
          .nav-link 
            マイページ
      %li.nav-item
        = link_to "みんなの投稿", reviews_path, class: "nav-link"
      %li.nav-item
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link"
    - else
      %li.nav-item
        = link_to "新規登録", new_user_registration_path, class: "nav-link"
      %li.nav-item
        = link_to "ログイン", new_user_session_path, class: "nav-link"
