%nav.navbar.navbar-expand.navbar-dark.fixed-top
  = link_to "title", root_path, id: "logo", class: "navbar-brand" unless user_signed_in?
  -# TODO: link_to image_tag("ファビコン", width: ~, alt: "title")
  %ul.navbar-nav.ml-auto
    - if user_signed_in?
      %li.nav-item
        = link_to user_path(current_user) do
          .nav-link 
            マイページ
      %li.nav-item
        = link_to "本を登録する", search_books_path, class: "nav-link"
      %li.nav-item
        = link_to "サインアウト", destroy_user_session_path, method: :delete, class: "nav-link"
    - else
      %li.nav-item
        = link_to "新規登録", new_user_registration_path, class: "nav-link"
      %li.nav-item
        = link_to "ログイン", new_user_session_path, class: "nav-link"
