.row.user-info
  .user-info__left.col-2.d-flex.align-items-center.pr-0.pr-md-3
    = image_tag review.user.avatar.url
  .user-info__right.col-10
    .user-info__right__learned
      .user-info__right__learned__upper
        .user-info__right__learned__upper--label.text-muted.align-items-center
          = link_to "#{review.user.nickname}", reading_user_path(review.user)
          さんの学んだこと
          .user-info__right__learned__upper--time.text-muted.small.float-right
            = review.created_at.strftime("%Y/%m/%d")
        .d-flex.justify-content-between
          - if review.rate.present?
            .user-info__right__rate.rate.read-only-rate{id: "star-rate-#{review.id}",  "data-rated-star": {"id": review.id, "score": review.rate}}
          - else
            .user-info__right__rate.rate 未評価
          .like-btn{id: "review-#{review.id}"}
            = render "likes/like", review: review
      .user-info__right__learned--content.bg-light.small.mt-2.py-3
        - if review.learned.present? 
          .user-info__right__learned--content--present.pr-3
            = review.learned.truncate(280) 
        - else 
          .user-info__right__learned--content--none 「学んだこと」は未記入です。
      .user-info__right__others
        .user-info__right__others--badge
          = link_to "詳しく見る", review_path(review), class: "badge badge-info float-right mr-0"
