.side-bar.col-11.col-sm-4.col-md-3.mx-auto.order-sm-1.mt-3.mt-sm-0	
  .side-bar__profile.panel
    .side-bar__profile--avatar
      -# carrierwaveで設定。current_user.avatarが存在しない場合はno_image.jpgを指定。
      = image_tag current_user.avatar.url, alt: current_user.avatar, id: "avatar"
    .side-bar__profile--name.small
      = current_user.nickname
  %nav.side-bar__menu
    .list-group.list-group-flush
      .list-group-item.list-group-item-light
        = link_to "みんなの投稿", reviews_path
      .list-group-item.list-group-item-light
        = link_to "本を登録する", search_books_path

    .list-group.list-group-flush.list-group__under
      .list-group-item.list-group-item-light
        = link_to "Todo一覧", user_tasks_path(current_user)
      .list-group-item.list-group-item-light
        = link_to "読書中", reading_user_path(current_user)
      .list-group-item.list-group-item-light
        = link_to "読了", read_user_path(current_user)
      .list-group-item.list-group-item-light
        = link_to "あとで読む", stock_user_path(current_user)

    .list-group.list-group-flush.list-group__under
      .list-group-item.list-group-item-light
        = link_to "ユーザー情報編集", edit_user_registration_path
      .list-group-item.list-group-item-light
        = link_to "ログアウト", destroy_user_session_path, method: :delete
