/ タブを画面に表示する
%ul#myTab.nav.nav-tabs{role: "tablist"}
  %li.nav-item
    = link_to "未完了のタスク", "#todolist", { id: "#todolist-tab", class:"nav-link active", "aria-controls": "todolist", "aria-selected": "true", "data-toggle": "tab", role: "tab"}
  %li.nav-item
    = link_to "完了したタスク", "#complete", { id: "complete-tab", class: "nav-link", "aria-controls": "complete", "aria-selected": "false", "data-toggle": "tab", role: "tab" }

/ タブの中身
#myTabContent.tab-content
  / 未完了のタスクリスト
  #todolist.tab-pane.fade.show.active{"aria-labelledby": "todolist-tab", role: "tabpanel"}
    .table-responsive
      %table#todoList.table.table-hover
        %thead
          %tr.table-info.task-table
            %th.task-table__left
            %th タスク内容
            %th.task-table__limit 期限
            %th.task-table__right
        %tbody#new-task
          - if @unfinished_tasks.present?
            - @unfinished_tasks.each do |task|
              %tr{id: "task-#{task.id}-all"}
                %td.task-table-left
                  -# finishedの値を更新する
                  = link_to task_path(task), class: "task-list-icon", remote: true do
                    %i.far.fa-check-circle
                  -# check後のアイコン %i.fas.fa-check-circle
                  = link_to edit_task_path(task, params: {review_id: @review.id}), class: "task-list-icon", remote: true do
                    %i.fas.fa-pen
                  #todoModal-edit.modal{"aria-hidden": "true", "aria-labelledby": "exampleModalLabel", role: "dialog", tabindex: "-1"}
                %td{class: "task-#{task.id}-content"}
                  = task.content
                %td{class: "task-#{task.id}-limit"}
                  = task.limit.present? ? task.limit : "未設定"
                %td
                  = link_to task_path(task), method: :delete, data: { confirm: 'タスクを削除しますか？' }, remote: true do
                    %i.fas.fa-trash-alt.icon-color
    = paginate @unfinished_tasks
  / 完了したタスクリスト
  #complete.tab-pane.fade{"aria-labelledby": "complete-tab", role: "tabpanel"}
    .table-responsive
      %table#completeList.table.table-hover
        %thead
          %tr.table-info
            %th タスク内容
            %th 実行日時
        %tbody
          - if @finished_tasks.present?
            - @finished_tasks.each do |task|
              %tr
                %td
                  = task.content
                %td
                  = task.updated_at.strftime("%Y-%m-%d %H:%M")