/ タブを画面に表示する
%ul#myTab.nav.nav-tabs{role: "tablist"}
  %li.nav-item
    = link_to "未完了のタスク", "#todolist", { id: "#todolist-tab", class:"nav-link active", "aria-controls": "todolist", "aria-selected": "true", "data-toggle": "tab", role: "tab"}
  %li.nav-item
    = link_to "完了したタスク", "#complete", { id: "complete-tab", class: "nav-link", "aria-controls": "complete", "aria-selected": "false", "data-toggle": "tab", role: "tab" }

/ タブの中身
#myTabContent.tab-content
  / 未完了のタスクリスト
  #todolist.tab-pane.fade.show.active{"aria-labelledby": "todolist-tab", role: "tabpanel"}
    = render partial: "shared/task-list-unfinished", locals: {tasks: @unfinished_tasks, review: @review}
    = paginate @unfinished_tasks
  / 完了したタスクリスト
  #complete.tab-pane.fade{"aria-labelledby": "complete-tab", role: "tabpanel"}
    .table-responsive
      %table#completeList.table.table-hover
        %thead
          %tr.table-info.task-table
            %th.task-table__left-finished
            %th タスク内容
            %th.task-table__limit 実行日時
            %th.task-table__right-finished
        %tbody.finished_task
          - if @finished_tasks.present?
            - @finished_tasks.each do |task|
              %tr{id: "task-#{task.id}-all"}
                %td
                %td.finished_task__content
                  = task.content
                %td
                  = task.updated_at.strftime("%Y-%m-%d %H:%M")
                %td
                  = link_to task_path(task), method: :delete, data: { confirm: 'タスクを削除しますか？' }, remote: true do
                    %i.fas.fa-trash-alt.icon-color
          - else
            %td
            %td 完了したタスクはありません
    = paginate @finished_tasks