- if @books.present?
  - @books.zip(@details) do |book, detail|
    .wrapper-book-info.row
      .wrapper-book-info__image.col-sm-5
        = image_tag "#{book.image_url}", size: "350x350", alt: "書影"
      .col-sm-7
        .wrapper-book-info__title
          .badge.badge-info.badge-pill
            タイトル
          = book.title
        .wrapper-book-info__author
          .badge.badge-info.badge-pill
            著者
          = book.author
        .wrapper-book-info__details
          .badge.badge-info.badge-pill
            商品詳細
          = detail.truncate(100)
        .wrapper-book-info__links
          = link_to "楽天ブックスで詳細を見る", "#{book.url}"   
          .links-to-review
            = link_to "この本を登録する", new_review_path(title: book.title, author: book.author, image_url: book.image_url, url: book.url, isbn: book.isbn), class: "link-to-review"
  .result-note
    探している書籍が見つからなかった場合は、条件を変えて再度検索してください。
