.container
  .search-box.row.col-12.col-lg-9.mx-auto
    .search-box__nav
      .heading.search-box__nav__title
        本を登録する
      .search-box__nav__link.text-right.font-small
        = link_to "自分の本棚を見る", reading_user_path(current_user)
    .search-box__input
      = form_with url: '/books/search', method: :get, local: true do |f|
        - if @title.present?
          = f.text_field :title, class: 'form_control col-9', value: @title
        - else
          = f.text_field :title, class: 'form_control col-9', placeholder: "本のタイトルを入力してください"
        - if @author.present?
          = f.text_field :title, class: 'form_control col-9', value: @author
        - else
          = f.text_field :author, class: 'form_control col-9', placeholder: "著者の名前を入力してください"
        = f.submit '検索', class: "col-2 ml-2 submit-btn"
  - if @title.present? || @author.present?
    .search-box__result
      = render partial: 'result_list'
