.form-group.row.review-body__content
  = book.label :タイトル, class:"col-sm-2 col-form-label badge-info"
  = book.text_field :title, class: 'form-control col-sm-6 .badge-info', value: @book.title, placeholder: "必須項目"
.form-group.row.review-body__content
  = book.label :著者, class:"col-sm-2 col-form-label badge-info"
  = book.text_field :author, class: 'form-control col-sm-6', value: @book.author
.form-group.row.review-body__content
  = book.label :書影, class:"col-sm-2 col-form-label badge-info"
  - if @book.remote_image_url.present?
    = image_tag "#{@book.remote_image_url}", size: "120x150", alt: "書影"
    = @book.remote_image_url
    = book.hidden_field :remote_image_url, value: @book.remote_image_url
  - else
    = book.file_field :image
.form-group.row.review-body__content
  = book.label :ジャンル, class:"col-sm-2 col-form-label badge-info"
  = book.select :genre, Book.genres_i18n.invert, {}, class: 'form-control col-sm-4', placeholder: 0
.review-header.review-header__internal
  読書メモ
.review-body__memo
  = fields_for(@review) do |review|
    .form-group.row.review-body__content
      = review.label :読書状況, class: "col-sm-2 col-form-label badge-info"
      = review.select :review_status, Review.review_statuses_i18n.invert, {}, class: 'form-control col-sm-3', placeholder: 0
    .form-group.row.review-body__content
      = review.label :目標期日, class: "col-sm-2 col-form-label badge-info"
      = review.date_field :deadline, class: 'form-control col-sm-3'
    .form-group.row.review-body__content
      = review.label :読書の目的, class:"col-sm-2 col-form-label badge-info"
      = review.text_area :purpose, class: 'form-control textarea', placeholder: "必須項目"
    .form-group.row.review-body__content
      = review.label :学んだこと, class: "col-sm-2 col-form-label badge-info"
      = review.text_area :learned, class: 'form-control textarea'
    .form-group.row.review-body__content
      = review.label :読書メモ, class: "col-sm-2 col-form-label badge-info"
      = review.text_area :note, class: 'form-control textarea'
    #star.form-group.row.review-body__content
      = review.label :評価, class: "col-sm-2 col-form-label badge-info star-label"
      = review.hidden_field :rate, id: 'review_star', class: 'form-control col-sm-2', value: 1, max: 5, min: 1
    -# .review-header.review-header__internal
    -#   タスク登録
    -# .review-body__task
    -#   = fields_for(@task) do |task|
    -#     .form-group.row.review-body__content
    -#   -# TODO:ここからタスク
  .form-group.review-submit
    = book.submit "登録する", class: 'btn btn-primary'

:erb
  <script>
    $('#star').raty({
      size: 36,
      starOff: '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      scoreName: 'review[rate]'
    });
  </script>