.wrapper-book-info.review-index
  .row.user-info
    .user-info__left.col-sm-2
      = image_tag review.user.avatar.url
    .user-info__right.col-sm-10
      .user-info__right__learned
        .user-info__right__learned__upper
          .user-info__right__learned__upper--label
            学んだこと
          .user-info__right__learned__upper--badge
            = link_to "詳しく見る", review_path(review), class: "badge badge-info float-right"
        .user-info__right__learned--content
          - if review.learned.present? 
            = review.learned.truncate(280) 
          - else 
            .user-info__right__learned--content--none 「学んだこと」は未記入です。
      .user-info__right__others
        = review.created_at.strftime("%Y/%m/%d")
        .user-info__right__others--name
          = review.user.nickname
          さん
        - if review.rate.present?
          .user-info__right__others--rate.rate.read-only-rate{id: "star-rate-#{review.id}",  "data-rated-star": {"id": review.id, "score": review.rate}}
        - else
          .user-info__right__others--rate.rate 未評価

  .review-info-box
    .row.col-sm-10.review-info-box__body
      .review-info-box__body--left.col-sm-3
        - if review.book.image_url.present?
          = image_tag review.book.image_url, size: "100x150", alt: "書影"
        - else
          = image_tag asset_path("no_image.jpg")
      .review-info-box__body--right.col-sm-9
        .right__title
          = review.book.title
        .right__author
          = review.book.author
        .right__badges
          = link_to "本を登録する", new_review_path(title: review.book.title, author: review.book.author,
                                  image_url: review.book.image_url, url: review.book.url, isbn: review.book.isbn),
                                  class: "badge badge-info"
          = link_to "本の詳細を見る", "#{review.book.url}", class: "badge badge-info"
