.whole-page
  .container
    .row
      .review-search-box.col-12.col-lg-9.p-0.card.mb-4.mx-auto
        .card-header
          みんなの学んだことを検索する
        .card-body.font-small
          = search_form_for @search do |f|
            .d-flex.justify-content-between
              .form-inline.col-8.col-md-9.p-0.justify-content-between
                -# = f.label :book_title_cont, "書籍名"
                = f.search_field :book_title_cont, class: "form-control col-5", placeholder: "書籍名"
                -# = f.label :book_author_cont, "著者"
                = f.search_field :book_author_cont, class: "form-control col-4 mr-2", placeholder: "著者名"
                = f.submit "検索", class: "actions col-2 p-0"
              .rate-sort.col-4.col-md-3.mt-2.text-right
                = sort_link(@search, :rate, "評価順に並べ替え")
      .main-content.col-12.col-lg-9.p-0.card.mx-auto
        - if @check.present?
          .card-header
            検索結果
          .card-body
            - if @results.any?
              - @results.each do |result|
                .wrapper-book-info.review-index
                  = render partial: "shared/review", locals: { review: result }
                  = render partial: "shared/book-info", locals: { review: result }
            - else
              %p.text-center 該当する結果がありません。条件を変えて、再度お試しください。
              = image_tag "no-results-found", size: "700x360", alt: "書影", class: "img-fluid rounded mx-auto d-block"
        - else
          .card-header
            みんなの投稿一覧
          .card-body
            - @reviews.each do |review|
              .wrapper-book-info.review-index
                = render partial: "shared/review", locals: { review: review }
                = render partial: "shared/book-info", locals: { review: review }
        = @results.present? ? paginate(@results) : paginate(@reviews)
