.whole-page
  .container
    .row
      = search_form_for @search do |f|
        .form_group
          = f.label :book_title_cont, "書籍名"
          = f.search_field :book_title_cont, class: "form_control"
          = f.label :book_author_cont, "著者"
          = f.search_field :book_author_cont, class: "form_control"
        .actions
          = f.submit "検索"
      .main-content.col-sm-12.col-md-12.card
        - if @check.present?
          .card-header
            検索結果
          .card-body
            - @results.each do |result|
              .wrapper-book-info.review-index
                = render partial: "shared/review", locals: { review: result }
                = render partial: "shared/book-info", locals: { review: result }
        - else
          .card-header
            みんなの投稿一覧
          .card-body
            - @reviews.each do |review|
              .wrapper-book-info.review-index
                = render partial: "shared/review", locals: { review: review }
                = render partial: "shared/book-info", locals: { review: review }
        = @results.present? ? paginate(@results) : paginate(@reviews)
