.container.review-form
  -# bookモデル、Taskモデル,Categoryモデルも一つのformで登録する?
  = form_with model: @review, local: true do |f|
    .form-group.row
      = f.label :読書状況, class: "col-sm-2 col-form-label"
      = f.select :review_status, [0,1,2], {}, class: 'form-control col-sm-3', placeholder: 0
    .form-group.row
      = f.label :目標期日, class: "col-sm-2 col-form-label"
      = f.date_field :deadline, class: 'form-control col-sm-3'
    .form-group
      = f.label :なぜ読むか？
      = f.text_area :purpose, class: 'form-control'
    .form-group
      = f.label :学んだこと
      = f.text_area :learned, class: 'form-control'
    .form-group
      = f.label :読書メモ
      = f.text_area :note, class: 'form-control'
    .form-group.row
      = f.label :評価, class: "col-sm-2 col-form-label"
      -# TODO MOOOVI参考に★に変更
      = f.number_field :rate, class: 'form-control col-sm-3 search__query', value: 1, max: 10, min: 1
    .form-group
      = f.submit  "投稿する", class: 'btn btn-primary'
