.container.px-0
  .row.col-12.col-lg-10.mx-auto.p-0
    .review-show.col-11.col-sm-8.m-0.order-sm-2.mx-auto.p-0.pb-3.pl-3.pl-md-0
      .card
        .card-header.bg-info.text-white.review-show__info
          = "「#{@book.title}」のレビュー"
        .card-body.py-2.small.text-muted
          %span.review-show__info
            = "更新日： #{@review.created_at.strftime("%Y/%m/%d")}"
          - if user_signed_in? && @review.user_id == current_user.id
            %span.ml-3
              = link_to edit_review_path(@review) do
                %i.fas.fa-edit.fa-lg.icon-color
                修正する
            %span.ml-2
              = link_to review_path(@review), method: :delete, data: { confirm: "本当に削除しますか？" } do
                %i.fas.fa-trash-alt.fa-lg.icon-color
                削除する
          .review-show__info--rate.mt-1
            - if @review.rate.present?
              .rate.read-only-rate{id: "star-rate-#{@review.id}",  "data-rated-star": {"id": @review.id, "score": @review.rate}}
            - else
              未評価
      .card.review-show__contents
        .card-header.py-2 読書の目的
        .card-body.review-show__contents__list.small  
          = @review.purpose
        .card-header.py-2 学んだこと
        .card-body.review-show__contents__list.small 
          - if @review.learned.present?
            = @review.learned
          - else
            .review-show__contents__list--no-entry 「学んだこと」は未記入です。
        .card-header.py-2
          - if user_signed_in? && @review.user_id == current_user.id
            -# review_idがtasks_controllerのset_reviewメソッドで必要になるため、パラメータをtasks#newに渡す
            = link_to new_task_path(params: {review_id: @review.id}), remote: true do 
              .i.fas.fa-plus-square.add-task-btn
            #todoModal.modal{"aria-hidden": "true", "aria-labelledby": "exampleModalLabel", role: "dialog", tabindex: "-1"}
          この本を読んで行動すること
        .card-body.review-show__contents__list.small.p-0
          = render 'shared/task-list-all'
        - if user_signed_in? && @review.user_id == current_user.id
          .card-header.py-2
            読書メモ
            %span.wrapper-book-info--notice.small  （※あなたにしか見えていません）
          .card-body.review-show__contents__list.small  
            - if @review.note.present?
              = @review.note 
            - else
              .review-show__contents__list--no-entry 「読書メモ」は未記入です。
    = render "sidebar-review"
