.container
  .flash
    = render partial: "shared/notification"
  .wrapper-book-info.review-show
    .row
      .wrapper-book-info__image.col-sm-5
        - if @book.image_url.present?
          = image_tag @book.image_url, size: "350x350", alt: "書影"
        - else
          = image_tag asset_path("no_image.jpg")
      .col-sm-7
        .wrapper-book-info__right
          .badge.badge-info.badge-pill
            タイトル
          = @book.title
        .wrapper-book-info__right
          .badge.badge-info.badge-pill
            著者
          = @book.author
        .wrapper-book-info__right
          .badge.badge-info.badge-pill
            登録日
          = @review.created_at.strftime("%Y/%m/%d")
        .rate{id: "star-rate-#{@review.id}"}
        .wrapper-book-info__icon.float-right
          - if user_signed_in? && @review.user_id == current_user.id
            = link_to edit_review_path(@review) do
              %i.fas.fa-edit.fa-lg.icon-color
            = link_to "/reviews/#{@review.id}", method: :delete, data: { confirm: "本当に削除しますか？" } do
              %i.fas.fa-trash-alt.fa-lg.icon-color
          = link_to "#{@book.url}" do
            %i.fas.fa-info-circle.fa-lg.icon-color
    .card
      .card-header 読書の目的
      .card-body 
        = @review.purpose
      .card-header 学んだこと
      .card-body
        = @review.learned.present? ? @review.learned : "「学んだこと」は未記入です。"
      - if user_signed_in? && @review.user_id == current_user.id
        .card-header 
          読書メモ
          %span.wrapper-book-info--notice （※あなたにしか見えていません）
        .card-body
          = @review.note.present? ? @review.note :  "「読書メモ」は未記入です。"
        .card-header 
          この本を読んで行動に移すこと
          %span.wrapper-book-info--notice （※あなたにしか見えていません）
        .card-body
          = render 'shared/task-form'

:erb
  <script>
    $('#star-rate-<%= @review.id %>').raty({
      size: 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      readOnly: true,
      score: <%= @review.rate %>
    });
  </script>
  